/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:hover{
    color: #fff;
}
a:hover{
    text-decoration: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
button:focus{
    outline: none;
}

/* Reset */
header{
    position: fixed;
    z-index: 100;
    width: 100%;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: url(img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    position: relative;
}

.project-header{
    width: 100%;
    height: 100vh;
    background-image: url(img/project.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    position: relative;
}
.career-left{
    width: 100%;
    height: 100vh;
    background-image: url(img/career.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    color: #fff;
    text-align: center;
    position: relative;
}

.blog-header{
    width: 100%;
    height: 100vh;
    background-image: url(img/blog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    position: relative;
}
.blog-page-header{
    width: 100%;
    height: 100vh;
    background-image: url(img/kitchen-blog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    position: relative;
}

.about{
    width: 100%;
    height: 100vh;
    background-image: url(img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    position: relative;
}

.contact-left{
    width: 100%;
    height: 100vh;
    background-image: url(img/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    position: relative;
}